/* Importing the Aller font */
@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Rg.ttf) format("truetype");
	font-style: normal;
}

/* @font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/AllerDisplay.ttf) format("truetype");
}
*/

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Bd.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Lt.ttf) format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_It.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_BdIt.ttf) format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_LtIt.ttf) format("truetype");
	font-weight: lighter;
	font-style: italic;
}

/* Generic Styling */
body {
	font-family: "Aller";
	color: #6B6B6B; /* grey // #4D4747 */ 
	font-weight: bold;
	font-size: 14px;
}

img {
	padding: 0;
	margin: auto;
}

.heading {
	background-color: #FBE7D5; /* peach, light grayish orange */
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 20%;
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: contain !important;
	padding: 0;
}

/* all-items includes the top margin, everything except header */
#all-items {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 18%;
}

/* Generic Checklist Styles */ 

.checklist-heading {
	top: -1px;
	height: 18%;

}

.checklist-heading .icon-left-nav {
	color: white;
	font-size: 27px;
	font-weight: bolder;
	/* left: 25%; */ 
	text-decoration: none;
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
}

.checklist {
	background-color: #ffdab9; /* peach, pale orange */
	padding: 0;
}

.card {
	margin: 0;
	padding: 0;
	background-color: #ffdab9; /* peach, pale orange */
	border: none;
	border-radius: 0;
}

.table-view-cell {
	background-color: #ffdab9; /* peach, pale orange */
	padding-right: 10px; /* moves the checkbox farther right*/
}

.checkbox {
border: 5px solid #75C2C2; /* teal (slightly desaturated cyan) */
height: 22px;
width: 22px;
}

.checkmark, .xmark {
	position: relative;
	top: -10px;
	left: -10px;
}

.description {
	display: inline-block;
	max-width: 250px;
}

.todo-table {
	height: 60px;
}

/* Page Specific Styles */

/* Walkthrough (Index) */

.walk-content a:link {
    text-decoration: none;
}

.walk-content a:visited {
    text-decoration: none;
    color: white;
}

.walk-content a:hover {
    text-decoration: none;
    color: white;
}

.walk-content a:active {
    text-decoration: none;
    color: white;
}

#tutorial {
	left: 4%;
}

#skip {
	left: 52%;
}

#continue {
	position: relative;
}

#continue-btn {
	position: absolute;
	top: 80%;
	left: 29%;

}
/* .walk-content may not be necessary */
.walk-content {
	position: absolute;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #FFE7D4;
}
/* .walk-img contains the code for the walkthrough1.png */
.walk-img {
	width:100%;
	height:auto;
	display:block;
	position: absolute;

}

/* style for walk buttons */
.walk-btn {
	top: 45%;
	position: absolute;	
	background-color:#61B5B6;
	color:white;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	text-indent:0;
	font-family:"Aller";
	font-size:26px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:140px;
	border-radius: 25px;
	border-color: #61B5B6;
	box-shadow: 0px 5px 5px #6B6B6B;
}

#walkthrough {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}


.slide img {
	width: 100%;
}

/* Guide Styles */
#guide-heading  {
	background-color: #FBE7D5;	/* peach, light grayish orange */
	background-image: url(../images/guideheader.png); /*sets the background image to "born ready" graphic */
}

/* Info Button - Guide Header */
/* Note: The info button is transparent and is positioned on top of the 
	? mark image */
.info-button {
	width:10%;
	position: absolute;
	top: 60%;
	left:80%;
	opacity: 0;
}
.info-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #4679BD; /* blue */ 
}

.info-button a {
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-align:center;
	color:white;
    font-family:"Aller";
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/* 3x3 grid of icons for rooms */
.guide-content .picbox {
	position: absolute;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
}

.guide-content .picbox a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: white; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/* guide - icon table proportions */
.br-col-1 {
	left: 0%;
	width: 33.33333%;
}

.br-col-2 {
	left: 33.333333%;
	width: 33.33333%;
}

.br-col-3 {
	left: 66.6666666%;
	width: 33%;
}

.br-row-1 {
	top: 0%;
	height: 33.333333%;
}

.br-row-2 {
	top: 33.333333%;
	height: 33.333333%;
}

.br-row-3 {
	top: 66.666666%;
	height: 33.333333%;
}

/* guide icon table images */

#kitchen {
    background: url(../images/kitchen.png);
    background-color: #FFE699; /* very light yellow */
}

#livingroom {
    background: url(../images/livingroom.png);
    background-color: #76B2B4; /* teal (cyan) */
}

#nursery {
    background: url(../images/nursery.png);
    background-color: #C06D4C; /* moderate orange */
}

#garage {
    background: url(../images/garage.png);
    background-color: #9B5437; /* dark moderate orange */
}

#bathroom {
    background: url(../images/bathroom.png);
    background-color: #539597; /* teal (dark moderate cyan) */
}

#outdoors {
    background: url(../images/outdoors.png);
    background-color: #FFD85D; /* light yellow */
}

#experttips {
    background: url(../images/experttips.png);
    background-color: #C06D4C; /* moderate orange */
}

#profile {
    background: url(../images/profile.png);
    background-color: #FFE699; /* very light yellow */
}

#favorites {
    background: url(../images/favorites.png);
    background-color: #76B2B4; /* teal (slightly desaturated cyan) */
}

/* heading styles for each room */

#kitchen-heading {
	background-image: url(../images/header/kitchenheader2.png);
	background-color: #FFE699; /* very light yellow */
}

#livingroom-heading {
	background-image: url(../images/header/livingroomheader1.png);
	background-color: #76B2B4; /* teal (slightly desaturated cyan) */ 
}

#nursery-heading {
    background: url(../images/header/nurseryheader1.png);
    background-color: #C06D4C; /* moderate orange */ 
}

#outdoors-heading {
    background: url(../images/header/outdoorsheader1.png);
    background-color: #FFD85D; /* light yellow */
}

#garage-heading {
    background: url(../images/header/garageheader1.png);
    background-color: #9B5437; /* dark moderate orange */
}

#bathroom-heading {
    background: url(../images/header/bathroomheader2.png);
    background-color: #539597; /* teal (dark moderate cyan) */
}
