/* Importing the Aller font */
@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Rg.ttf) format("truetype");
	font-style: normal;
}

/* @font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/AllerDisplay.ttf) format("truetype");
}
*/

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Bd.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Lt.ttf) format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_It.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_BdIt.ttf) format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_LtIt.ttf) format("truetype");
	font-weight: lighter;
	font-style: italic;
}

/* Generic Styling */
body {
	font-family: "Aller";
	color: #6B6B6B; /* grey // #4D4747 */ 
	font-weight: bold;
	font-size: 14px;
}

img {
	padding: 0;
	margin: auto;
}

a {
	text-decoration: none;
}

.heading {
	background-color: #FBE7D5; /* peach, light grayish orange */
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 20%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding: 0;
}

#all-items {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 18%;
}

/* Generic Checklist Styles */ 

.checklist-header {
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 18%;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.checklist-heading .icon-left-nav {
	color: white;
	font-size: 27px;
	font-weight: bolder;
	/* left: 25%; */ 
	text-decoration: none;
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
}

.card {
	margin: 0;
	padding: 0;
	background-color: #ffdab9; /* peach, pale orange */
	border: none;
	border-radius: 0;
}

.table-view-cell {
	background-color: #ffdab9; /* peach, pale orange */
	padding-right: 10px; /* moves the checkbox farther right*/
}

.checkbox {
border: 5px solid #75C2C2; /* teal (slightly desaturated cyan) */
height: 22px;
width: 22px;
}

.checkmark, .xmark {
	position: relative;
	top: -10px;
	left: -10px;
}

.description {
	display: inline-block;
	max-width: 250px;
}

.todo-table {
	height: 60px;
}

/* Page Specific Styles */
/* Guide Styles */
#guide-heading  {
	background-color: #FBE7D5;	/* peach, light grayish orange */
	background-image: url(../images/guideheader.png); /*sets the background image to "born ready" graphic */
}

.guide-content .picbox {
	position: absolute;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
}

.guide-content .picbox a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: white; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/* guide icon table proportions */
.br-col-1 {
	left: 0%;
	width: 33.33333%;
}

.br-col-2 {
	left: 33.333333%;
	width: 33.33333%;
}

.br-col-3 {
	left: 66.6666666%;
	width: 33%;
}

.br-row-1 {
	top: 0%;
	height: 33.333333%;
}

.br-row-2 {
	top: 33.333333%;
	height: 33.333333%;
}

.br-row-3 {
	top: 66.666666%;
	height: 33.333333%;
}

/* guide icon table images */

#kitchen {
    background: url(../images/kitchen.png);
    background-color: #FFE699; /* very light yellow */
}

#livingroom {
    background: url(../images/livingroom.png);
    background-color: #76B2B4; /* teal (cyan) */
}

#nursery {
    background: url(../images/nursery.png);
    background-color: #C06D4C; /* moderate orange */
}

#garage {
    background: url(../images/garage.png);
    background-color: #9B5437; /* dark moderate orange */
}

#bathroom {
    background: url(../images/bathroom.png);
    background-color: #539597; /* teal (dark moderate cyan) */
}

#outdoors {
    background: url(../images/outdoors.png);
    background-color: #FFD85D; /* light yellow */
}

#experttips {
    background: url(../images/experttips.png);
    background-color: #C06D4C; /* moderate orange */
}

#profile {
    background: url(../images/profile.png);
    background-color: #FFE699; /* very light yellow */
}

#favorites {
    background: url(../images/favorites.png);
    background-color: #76B2B4; /* teal (slightly desaturated cyan) */
}

/* Kitchen */
#kitchen-heading {
	background-image: url(../images/header/kitchenheader2.png);
	/* background-color: #76B2B4; */ /* teal (slightly desaturated cyan) */ 
	background-color: #FFE699; /* very light yellow */
	height: 18%;
	top: -1px;
}

.kitchen {
	background-color: #ffdab9; /* peach, pale orange */
	padding: 0;
}

