#tutorial {
	left: 4%;
}

#skip {
	left: 52%;
}

.walk-content {
	position: absolute;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #FFE7D4;
}
.walk-img {
	width:100%;
	height:auto;
	display:block;
}

.walk-btn {
	top: 45%;
	position: absolute;	
	background-color:#61B5B6;
	color:white;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	text-indent:0;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:140px;
	border-radius: 25px;
	border-color: #61B5B6;
	box-shadow: 0px 5px 5px #6B6B6B;
}