/* Importing the Aller font */
@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Rg.ttf) format("truetype");
	font-style: normal;
}

/* @font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/AllerDisplay.ttf) format("truetype");
}
*/
@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Bd.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_Lt.ttf) format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_It.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_BdIt.ttf) format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Aller";
	src: url(../fonts/Aller/Aller_LtIt.ttf) format("truetype");
	font-weight: lighter;
	font-style: italic;
}

body {
	background-color: #FBE7D5;
}

#heading {
	background-color: #76B2B4;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 18%;
	padding: 0;
	background-image: url(../images/header/kitchenheader1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.icon-left-nav {
	color: white;
	font-size: 23px;
	font-weight: bolder;
	left: 25%;
}

.content {
	background-color: #ffdab9;
	font-family: "Aller";
	padding: 0;
	border-top: 18%
}

.card {
	margin: 0;
	padding: 0;
	background-color: #ffdab9;
	padding-top: 102px;
}

.table-view-cell {
	background-color: #ffdab9;
	padding-right: 10px; /* moves the checkbox farther right*/
	color: #6B6B6B; /* #4D4747 */ 
	font-weight: bold;
	font-size: 14px;
}

.checkbox {
border: 5px solid #75C2C2;
height: 22px;
width: 22px;
}

.checkmark, .xmark {
	position: relative;
	top: -10px;
	left: -10px;
}